<div id="mypage-content">
  <section>
    <h1>マイページ</h1>
    <table border=1>
      <tr>
        <th>ユーザーID</th>
        <td><%= @user.userid %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>アクセストークン</th>
        <td><%= @user.access_token %></td>
      </tr>
    </table>
    <div class="mt-30 tac">
      <%= link_to "変更", edit_user_registration_path, class: "btn" %>
    </div>
  </section>
</div>
