<div id="mypage-content">
  <section>
    <h2>マイページ</h2>
    <table border=1>
      <tr>
        <th>ユーザーID</th>
        <td><%= @user.userid %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>アクセストークン</th>
        <td><%= @user.access_token %></td>
      </tr>
    </table>
    <%= link_to "変更", edit_user_registration_path %>
  </section>
</div>
