/* TODO 兎に角急いで作ったから色々ちゃんと書き直す. */

body {
  display: grid;
  margin: 0;
  min-height: 100vh;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
  "header"
  "main  "
  "footer";
}
body > * {
  margin: 3px;
  padding: 10px;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  padding: 0px 300px 0px 300px;
}
footer {
  grid-area: footer;
  p {
    text-align: center;
    color: #767676;
  }
}
table {
  border-collapse: collapse;
  border:1px solid #333;
  width: 100%;
}
td {
  padding: 8px;
}
#header-wrap {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-areas:
  "h1 nav";
}
.label {
  color: #565656;
  font-size: 75%;
  padding-left: 5px;
}
.require-label {
  color: red;
  font-size: 75%;
  padding-left: 5px;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.mt-30 {
  margin-top: 30px;
}
.btn {
  padding: 0.3em 15em;
  color: white;
  border: solid 2px #f50b0b;
  border-radius: 3px;
  transition: .4s;
  background: red;
  font-size: larger;
  text-decoration: none;
}
